body{
background-image: linear-gradient(to right, darkred, goldenrod);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #888888;
  background-position: center;
}

.gradient-style{
width: 400px;
  height: 400px;
}
